<main>
    <div class="container p-4">
  
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
              <h1>Inventario</h1>
              <p class="lead text-muted">Listado de repuestos e insumos</p>
            </div>
            <ng-container *ngIf="user_role == 'admin'">
                 <!-- boton te lleva a inventario/nuevo -->
                <button class="btn btn-success" (click)="navigateToNuevo()">
                    <i class="bi bi-file-plus"></i> Agregar Nuevo
                </button>
            </ng-container>
           
          </div>

    <table class="table table-striped">
        
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
                    </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of inventario">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>
                    <div class="">
                        <button class="btn btn-success  m-1" (click)="buttonUtilizar(item.id)">
                            <i class="bi bi-file-minus" ></i>
                        </button>
                        <ng-container *ngIf="user_role == 'admin'">
                           
                            <button class="btn btn-primary  m-1" (click)="buttonEdit(item.id)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger  m-1" (click)="buttonBorrar(item.id)">
                                <i class="bi bi-trash" ></i>
                            </button>
                        </ng-container>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
  </main>

